<span class="e-numeric-wrap {{activeClass}}">
    {{input value=displayedValue disabled=disabled}}
    <span class="e-select">
        <button class="e-numeric-button" {{action pressUp}} disabled={{disabled}}><i class="fa fa-caret-up"></i></button>
        <button class="e-numeric-button" {{action pressDown}} disabled={{disabled}}><i class="fa fa-caret-down"></i></button>
    </span>
</span>
